@use '../abstracts/variables' as *;

.contact-elem {
    display: grid;
    grid-template-columns: 230px auto 150px 150px;
    gap: 30px;
    border-bottom: 1px solid $light-grey;
    padding: 20px;
    padding-left: 0;
    font-size: 15px;
    color: $grey;

    &__city {
        font-size: 20px;
        font-weight: 500;
        line-height: 22px;
        color: $black;
        width: 230px;
    }
    &__time {
        font-size: 13px;
    }
    &__phone{
        display: block;
        color: $yellow;
        font-weight: 500;
    }
    &__mail{
        display: inline-block;
        margin-top: 6px;
    }
}