@use '../abstracts/variables' as *;

.header {
    background: white;

    &__row{
        display: flex;
        padding: 15px 0;
        justify-content: space-between;
        align-items: center;
    }
    &__right{
        display: flex;
        column-gap: 80px;
        align-items: center;
    }
    &__search {
        position: relative;
        width: 300px;

        .form-group{
            margin-bottom: 0;
        }
    }
    &__search-btn {
        position: absolute;
        right: 0;
        top: 3px;
        border: 0 !important;
        padding: 10px 15px !important;
    }
    &__phone{
        display: block;
        font-size: 24px;
        font-weight: 500;
        color: $yellow;
        margin-bottom: var(--space-xs);
    }
    &__mail{
        color: $grey;
    }
    &__callback{
        border-bottom: 2px solid #c8cedc;
        color: #6c7c9f;

        &:hover{
            border-color: #6c7c9f;
        }
    }
    &-burger{
        display: none;
    }
    &__navbar{
        background-color: $blue
    }
    &__navbar-row{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.menu {

    &__nav {
        display: flex;
        flex-direction: row;
        gap: 60px;
    }
    &__link{
        font-family: "Raleway", Arial, sans-serif;
        letter-spacing: 1px;
        position: relative;
        display: block;
        padding: 25px 20px;
        color: #ffffff;
        font-weight: 700;
        font-size: 13px;
        text-transform: uppercase;

        svg{
            margin-left: 6px;
        }
        &:before{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 0;
            height: 3px;
            content: "";
            -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            background-color: $yellow;
        }
    }
    &__item{

        &:hover,
        &--is-active{
            .menu__link{
                color: $yellow;

                &:before{
                    right: auto;
                    left: 0;
                    width: 100%;
                }
            }
        }

        &--has-children{
            position: relative;

            &:hover >{

                .submenu{
                    visibility: visible;
                    transform: translateY(0);
                    opacity: 1;
                }
                .megamenu{
                    visibility: visible;
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }
    }
}
.submenu{
    position: absolute;
    z-index: 9;
    top: 100%;
    left: 0;
    visibility: hidden;
    min-width: 280px;
    padding: 25px 0;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-delay: 0.3s;
    transition-duration: 0.6s;
    transform: translateY(50px);
    opacity: 0;
    border-bottom: 3px solid $yellow;
    background-color: #ffffff;
    -webkit-box-shadow: 0 10px 37px rgba(0, 0, 0, 0.07);
    box-shadow: 0 10px 37px rgba(0, 0, 0, 0.07);

    .submenu {
        top: 0;
        right: auto;
        left: 100%;
        min-width: 370px;

        .submenu__link:after{
            display: none;
        }
    }
    &__link{
        position: relative;
        display: block;
        padding: 11px 25px;
        padding-right: 40px;
        color: #999;

        &:hover{
            color: $yellow
        }
        &:after{
            right: 30px;
            position: absolute;
            top: 13px;
            content: '';
            background: url("../../images/icons/arrow-right.svg");
            width: 6px;
            height: 11px;
            display: inline-block;
        }
    }
    &__item{

        &--has-children{
            //position: relative;

            &:hover >{

                .submenu{
                    z-index: 9;
                    visibility: visible;
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }
    }
}
.megamenu{
    position: absolute;
    z-index: 9;
    top: 100%;
    left: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
    border-bottom: 3px solid #ffc246;
    background-color: #ffffff;
    box-shadow: 0 10px 37px rgba(0, 0, 0, 0.07);
    display: flex;
    gap: var(--gap);
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    //min-width: 980px;
    min-width: 1230px;
    padding: 50px 25px 35px;

    & > li {
        width: 23%;
    }
    &__title{
        margin-bottom: 20px;
        padding-bottom: 10px;
        letter-spacing: 1px;
        border-bottom: 1px solid #eee;
        font-size: 16px;
        display: block;
    }
    &__link{
        line-height: 1.2;
        padding: 5px 0;
        -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        color: #999;
        display: block;
        position: relative;

        &:hover{
            color: $yellow;
        }
    }
    &__submenu{
        li{
            position: relative;
            padding-left: 15px;

            &:after {
                position: absolute;
                top: 50%;
                left: 0;
                width: 5px;
                height: 5px;
                content: "";
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                border-radius: 50%;
                background-color: #d8d8d8;
            }
        }
    }
}